.login-container{
    width: 30%;
    margin: 12px auto;
    padding: 24px 12px;
    background-color: rgba(165, 42, 42, 0.418);
    border: none;
    border-radius: 12px;
    text-align: center;
}

.login-container input{
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 1em;
    margin: 12px 0px;
}

.login-container .login-btn{
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    color: white;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.726);
    margin-top: 12px;
}

.login-btn:hover{
    cursor: pointer;
}

.invalid-login{
    color: rgba(255, 0, 0, 0.856);
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-top: 12px;
}