* {
  box-sizing: border-box;
  font-family: 'Montserrat-normal', sans-serif;
}

@font-face{
  font-family: 'Montserrat-light';
  src: local('Montserrat'), url('./fonts/Montserrat-Light.otf') format('opentype');
}

@font-face{
  font-family: 'Montserrat-normal';
  src: local('Montserrat-normal'), url('./fonts/Montserrat-Regular.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgba(219, 219, 219, 0.884);
  overflow-x: hidden;
}

button:focus{
  outline: none;
}

.hidden{
  visibility: hidden !important;
}

